table,tbody,tr,td{
    padding: 0;
    margin: 0;
    border-spacing: 0;
    vertical-align: top;
}

/* .main-page{
    background-color: beige;
} */

.main-page-table{
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.app-sidebar{
    height: 100vh;
    background-color: #1F5384;
    color: white;
}

.app-sidebar .header{
    margin: 0em 0em;
}

.app-sidebar a {
    display: block;
    padding: 1em  1rem;
    border-left: 1px solid var(--color-border);
    color: #E4F0F5;
    font-size: 1.2em;
    text-decoration: none;
}

.app-sidebar a:hover{
    background: #2D6EA9;
    color: #E3EBF3;
}

.app-sidebar a.router-link-exact-active {
    background: #2D6EA9;
    color: #E3EBF3;
}

.app-sidebar a.router-link-exact-active:hover {
    background: #2D6EA9;
    color: #E3EBF3;
}

/* .row, .col{
    margin: 0;
    padding: 0;
} */
.main-content-container{
    width: 85vw;
    height: 100vh;
    background:linear-gradient(to bottom, #dfe1e2 10em, #ffffff 10em 100%);
    padding-left: 3em;
    padding-right: 5em;
}
