.loader {
    margin-left: 50%;
    margin-right: 50%;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }