table {
    border-spacing: 0;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

th {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: left;
}

td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

th:last-child {
    border-right: 0;
}

td:last-child {
    border-right: 0;
}

.table-header-cell {
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* tr:last-child:td {
    border-bottom: 0;
}  */
