.search-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.search-field {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.clear-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
}

.submit-button {
    background-color: black;
    color: white;
    border: none;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

.button-group {
    display: flex;
}