.main-content-title {
	/* position: relative; */
	height: 5em;
	background: #dfe1e2;
	/* background: #6582ff; */
	color: #1F5384;
	font-size: xx-large;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding: 0 120px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}