/* @import './base.css'; */
.break {
	flex-basis: 100%;
	height: 0;
}

.w-full {
	width: 100%;
}

.main-container {
	padding: 0 10vw;
}

.main-header {
	width: 80vw;
	height: 5em;
	font-size: xx-large;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding: 0;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.main-content {
	width: 80vw;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.target-header-container {
	height: 3.5em;
	width: 100%;
}

#main-header-arrow-left {
	font-size: 1.5rem;
}

.title {
	font-size: xx-large;
	font-weight: bold;
}

.subtitle-container {
	display: inline-block;
	position: relative;
}

.sub-title {
	font-size: large;
	margin-left: 2em;
	padding-right: 1.2em;
}


.p-tabview-nav,
.p-tabview-nav-link,
.p-tabview-panels {
	background-color: transparent;
}

.p-tabview-panels {
	padding-top: 1.2em;
	width: calc(100vw - 480px);
}

.wct-secondary-button {
	border: 1px solid #3F51B5;
	background-color: transparent;
	color: #3F51B5;
	padding: 1em;
}

.wct-secondary-button:hover {
	border: 1px solid #6f7699;
	background-color: transparent;
	color: #6f7699;
	padding: 1em;
}