




// .react-select__control, .react-select__control:focus{
//     border-color: inherit;
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }

// @import "bootstrap/scss/bootstrap";
table,tbody,tr,td{
    padding: 0;
    margin: 0;
    border-spacing: 0;
    vertical-align: middle;
}