.main-content{
    padding-left: 3em;
}

.filter-btn{
    display: inline;
}

.queue-filter-btn-group span{
    display: inline-block;
    margin: 0 0.5em;
    padding: 0.3em 0.5em;
    background: #E2E2E2;
    border: solid 2px;
    border-color: #C6C6C6;
    color: #212121;
    border-radius: 1em;
    font-size: 0.75em;
}
.queue-filter-btn-group :first-child{
    margin: 0 0.5em;
}

.queue-filter-btn-group a{
    text-decoration: none;
    color: #212121;
}

.queue-filter-operation a{
    display: inline-block;
    margin: 0.5em;
    padding: 0.3em 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    color: #28639A;
}
.queue-filter-operation .icon{
    font-size: 1em;
}

.row, .d-flex{
    margin: 0;
    padding: 0;
}
